html {
  font-size: 16px;
}

body {
  max-width: 1140px;
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  background-color: #ff9ff3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; 
}

/* Header */

h1 {
  color: #222f3e;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 2.5rem;
  margin: 10% auto 5%;
  line-height: 1.8em; 
}

/* Main container */

#main-container {
  width: 80%; 
  max-width: 700px; 
}

/* To do container */

#todo-container {
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden; 
  width: 100%;
}

#todo-container::-webkit-scrollbar{
  background-color: #f368e0; 
}

#todo-container::-webkit-scrollbar-thumb {
  background-color: #222f3e; 
  height: 50px; 
}

/* List */
ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 5px solid white;
  margin: 3%;
  padding: 5%;
  font-size: 2.5rem;
}

li span {
  word-break: break-all;
}

.buttons-div {
  display: flex;
  flex-wrap: nowrap;
}

/* Icons */
button {
  width: 5vh;
  height: 5vh;
  text-align: center;
  margin: 0 0.5rem;
  border-style: none; 
  background-color: #f368e0; 
  padding: 0; 
  
}

i {
  margin: 0 auto;
  padding: 0;
}

/* increases size of icons */
.svg-inline--fa {
  font-size: 3rem; 
}

.marked {
  text-decoration: line-through;
}

/* Form */
form {
  width: 100%;
  text-align: center;
  margin-top: 4vh; 
}

input[type="text"] {
  background-color: #fafafa;
  border: solid 5px #222f3e;
  width: 75%;
  padding: 0 1rem;
  font-size: 3rem;
  height: 10vh; 
}

input[type="submit"] {
  font-size: 3rem;
  font-family: "press start 2p", cursive;
  color: #222f3e;
  background-color: #f368e0;
  border: solid 5px #222f3e;
  width: 100%;
  margin: 2rem;
  height: 10vh; 
}

input[type="submit"]:hover {
  color: #fafafa;
  background-color: #222f3e;
  border: solid 5px #f368e0;
}

@media only screen and (min-width: 800px){

  h1{
    font-size: 2rem;
    margin: 3% auto; 
  }

  li {
    font-size: 1.3rem; 
    padding: 2%; 
  }
 
  /* size of icons */
  .svg-inline--fa {
    font-size: 1.3rem; 
  }

  input[type="text"] {
   height: 4vh; 
   font-size: 1.3rem; 
   width: 90%; 
   margin: 0 auto; 
  }
  
  input[type="submit"] {
   font-size: 1.3rem; 
   margin: 1.5rem auto;  
  } 


}